
footer#colophon.site-footer(role="contentinfo")
  div.wrap
    div.site-info
      a(href="https://github.com/jfmario/carolina2") Powered by Carolina 2.0.
      a(href="https://wordpress.org")  Theme burrowed from Wordpress.
