
include header.pug
include mixins/pagination.pug
include mixins/post.pug

div.site-content-contain
  div#content.site-content
    div.wrap
      
      header.page-header
        h2.page-title Posts
        
      div#primary.content-area
        main#main.site-main(role="main")
          if locals.posts 
            each post in posts
              +contentPost(post, false)
          
          +pagination(locals.meta.pageNumber, locals.meta.nextPage)
      
      include sidebar.pug
  include footer.pug
